.text_neutral_60 {
  color: $gray-600;
}

.bg_neutral_60 {
  background-color: $gray-600;
}

.border_neutral_60 {
  border: solid 1px $gray-600;
}

.border-primary-white {
  border-image: linear-gradient(to right, $primary, $white) 1;
}

.w-65 {
  width: 65%;
}
