// Figma 2% => 0.32px，5% => 0.8px
// https://www.unitsconverters.com/en/-To-Px/Utu-4854-4853
$letter-spacing-base: 0.32px;
$letter-spacing-heading: 0.8px;

body {
  letter-spacing: $letter-spacing-base;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: $letter-spacing-heading;
}
